* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------
   Navbar section 
   ----------------
*/
.navbar {
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar ul {
    display: flex;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 34px;
}

/* -------------
    banner section 
   ---------------
*/

.banner-tittle {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 5px;
}

.banner .text {
    width: 582px;
    height: 260px;
}

.banner-des {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    background: #E02C6D;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    border-radius: 41px;
    padding: 10px 24px;
    border: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.banner .pic img {
    width: 440px;
    height: 414px;
}

/* Middle logo section */

.mid-logos {
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 7px 10px gainsboro;
    margin: 0 auto;
    background: white;
}



/* Popular Collection styling */
.Popular-Collection {
    width: 1047px;
    height: 1662px;
    margin: 100px auto;
}

.collection-tittle {
    text-align: center;
    margin-bottom: 30px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.collection {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.collection-details {
    padding: 15px;
}

.collection-details .photo img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.photo-tittle {
    width: 151px;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
}
.rat-des .star{
    display: flex;
    column-gap: 10px;
    margin: 10px 0;
}

.star .rating{
    margin-left: 10px;
}
.fa-star {
    width: 11.07px;
    height: 10.32px;
    color: #FB8200;
}

.fa-star-half-stroke {
    width: 11.07px;
    height: 10.32px;
    color: #FB8200;
}

.star-des {
    height: 61px;
    width: 196px;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.pinkdes {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #E02C6D;
    text-align: end;
}

/* Extra Feature */

.pic-ins {
    width: 1110px;
    height: 270px;
    display: flex;
    margin: -80px 165px 0 165px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.pic-ins img {
    width: 404px;
    height: 270px;
    gap: 96px;
}

.ins-tittle {
    width: 610px;
    height: 60px;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}

.ins-des {
    width: 501px;
    height: 88px;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

/* Footer */
footer {
    width: 100%;
    height: 249px;
    background-color: #0A0826;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f1,.f2, .f3{
    margin-bottom: 10px;
}

.icons i{
    margin: 7px;
    color: gainsboro;
}